/* SCSS main
*/


.navbar {
  margin-bottom: 0;
}


.main--wrapper {
  margin:50px 0 0 0;
}


.clear {
  clear:both;
  margin:0;
  padding:0;
}


/* Home Page 
 * ========================*/


.home--search {
  width:100%;
  margin:0;
  background: #eee;
  display:block;
  clear:both;
}

.main--wrapper input[name="search"] {
  width: 80%;
  height:60px;
  border:1px solid #eee;
  margin:80px auto;
  display: block;
}

.home--in--photos {
  width: 100%;
  margin: 40px auto;
  display: block;
  float: none;
  width:800px;
  padding: 0;
}
